<% provide(:title, @user.name) %>
<div class="container">
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="col-md-8">
    <% if @user.listings.any? %>
      <h3>Listings (<%= @user.listings.count %>)</h3>
      <ol class="listings">
        <%= render @listings %>
      </ol>
      <%= will_paginate @listings %>
    <% end %>
  </div>
</div>