</div>
		<footer class="footer">
		<div class="container">
			<nav>
			    <ul>
					  <li><%= link_to "Home", root_path %></li>
			      <li><%= link_to "About Jordan",  about_path %></li>
			      <li><%= link_to "Sellers", sellers_path %></li>
						<li><%= link_to "Listings", listings_path %></li>
						<li><%= link_to "Testimonials", testimonials_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
						<% if logged_in? %>
						<li><%= link_to "Log out", logout_path, method: "delete" %></li>
						<% else %>
	          <li><%= link_to "Log in", login_path %></li>
						<% end %>
					</ul>
			  </nav></div>
				<div class="container">
<div class="row col-md-4 footer-contact">
	<address>
	<strong>Jordan Rich</strong><br>
  <strong>Long & Foster Real Estate, Inc.</strong><br>
  5101 Wisconsin Avenue NW<br>
  Washington, DC, 20015<br>
  <abbr title="Phone">P:</abbr> (240) 338-9740<br>
	<a href="mailto:jordan@richestates.com">jordan@richestates.com</a>
</address></div>
		</div>
		<div class="container footer-copyright">
		<small><p class="text-center">&copy; Rich's Estates 2014</p></small></div>
		</div>
		</footer>
	</body>
</html>