
		<footer class="footer">
			<small><p>&copy; Rich's Estates 2014</p></small>
			<nav>
			    <ul>
					  <li><%= link_to "Home", root_path %></li>
			      <li><%= link_to "About Jordan",  about_path %></li>
			      <li><%= link_to "Sellers", sellers_path %></li>
						<li><%= link_to "Listings", listings_path %></li>
						<li><%= link_to "Testimonials", testimonials_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
						<% if logged_in? %>
						<li><%= link_to "Log out", logout_path, method: "delete" %></li>
						<% else %>
	          <li><%= link_to "Log in", login_path %></li>
						<% end %>
					</ul>
			  </nav>
		</footer>
	</body>
</html>