<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%=root_path %>">Rich's Estates</a>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home", root_path %></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
					About <b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li><%= link_to "Jordan",   about_path %></li>
					<li><%= link_to "Preferred Vendors", vendors_path %></li></ul></li>
					
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Sales <b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li><%= link_to "Buyers", '#' %></li>
					<li><%= link_to "Sellers",   sellers_path %></li></ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Listings<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li><a href="http://www.idxhome.com/homesearch/77456">Property Search</a></li>
					<li><a href="http://www.idxhome.com/featured/77456">Featured Listings</a></li>
					<li><a href="http://www.idxhome.com/mapsearch/77456">Map Search</a></li>
					<li><a href="http://www.idxhome.com/openhomes/77456">Open Homes</a></li>
					<li><a href="http://www.idxhome.com/site/listing/search/advanced/77456">Advanced Search</a></li>
					</ul></li>
					<li><%= link_to "Testimonials", testimonials_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					</ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>